[workspace]
members = ["deepmind-pb"]

[package]
name = "near-dm-indexer"
version = "1.27.0"
authors = ["StreamingFast Developers <dev@streamingfast.io>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "3.1.6", features = ["derive"] }
hex = "0.4.3"
base64 = "0.13.0"
prost = "0.10.4"
prost-types = "0.10.1"
openssl-probe = "0.1.4"
tracing-subscriber = "0.2.4"

anyhow = "1.0.51"
awc = "3.0.0"
actix = "0.13.0"
actix-web = "4.0.1"
actix-rt = "2"
byteorder = "1.2"
easy-ext = "0.2"
chrono = { version = "0.4.4", features = ["serde"] }
enum-map = "=2.1.0"
futures = "0.3"
hyper = { version = "0.14", features = ["full"] }
hyper-tls = "0.5.0"
once_cell = "1.5.2"
prometheus = "0.11"
rand = "0.7"
rayon = "1.5"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_ignored = "0.1"
dirs = "3"
borsh = "0.9"
thiserror = "1.0"
tokio = { version = "1.1", features = ["fs"] }
tracing = "0.1.13"
smart-default = "0.6"
num-rational = { version = "0.3", features = ["serde"] }
near-rust-allocator-proxy = { version = "0.4", optional = true }
lazy-static-include = "3"
tempfile = "3"
indicatif = "0.15.0"
xz2 = "0.1.6"
rlimit = "0.7"
strum = "0.24"

# Added to get rid of a dependencies error even if we do not use it
itertools = "0.10.3"

near-indexer = { git = "https://github.com/streamingfast/nearcore", rev="1.27.0-rc.4-dm" }
near-crypto = { git = "https://github.com/streamingfast/nearcore", rev="1.27.0-rc.4-dm" }
near-vm-errors = { git = "https://github.com/streamingfast/nearcore", rev="1.27.0-rc.4-dm" }

[build-dependencies]
tonic-build = "0.5.0"
